/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
.menu ul li a, .d_custom{
    text-align: right;
    padding: 0 6px;
}
.searchbar {
	text-align: right;
    padding: 0 20px;
}
.banner_content {
    margin-top: 160px;
    margin-bottom: 170px;
}
.banner_content h1 {
    font-size: 27px;
}
.scroll{
    margin-bottom: -40px;
}
.title h2 {
    font-size: 23px;
}
.about h3 {
    font-size: 20px;
}
.about img {
    max-width: 80%;
}
.kids1 {
    padding: 75px 0 50px 0;
}
.custom_img2 {
    left: 130px;
}
.kids2,.courses,.moments, .activities {
    padding: 50px 0;
}
.c_card{
	margin: 20px 0;
}
.custom_btn {
    margin-top: 25px;
}
.moments {
    text-align: center;
}
.white, .green{
   letter-spacing: 3px; 
}
.green {
    left: 94px;
}
.a_content{
	padding: 10px;
}
.arts_content, .kidz_content, .k_content, .m_content {
    top: 2px;
    left: 16px;
}
.news_image, .r_news {
    margin-bottom: 30px;
}
.contact {
    background-image:none;
    background-color: #fff;
    padding: 50px 0;
}
.events {
    padding: 50px 0;
}
.e_title {
    margin-bottom: 40px;
}
.c_insta {
    padding-right: 0; 
    padding-left: 13px;
}
.f_menu ul li a {
    padding: 0!important;
    font-size: 16px;
}
.copyright {
    text-align: left;
    margin-top: 15px;
}
}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
.menu ul li a, .d_custom{
    text-align: right;
    padding: 0 6px;
}
.searchbar {
	text-align: right;
    padding: 0 20px;
}
.banner_content {
    margin-top: 160px;
    margin-bottom: 170px;
}
.banner_content h1 {
    font-size: 35px;
}
.scroll{
    margin-bottom: -50px;
}
.about img {
    margin-top: 15px;
}
.kids1{
	padding: 80px 0 50px 0;
}
.kids2,.courses,.moments, .activities {
    padding: 65px 0;
}
.custom_img2 {
    left: 85px;
}
.c_card{
	margin: 20px 0;
}
.c_block {
    padding: 0;
}
.txt-2 {
    padding: 13px;
}
.txt-4 {
    padding: 8px;
    line-height: 2.4!important;
}
.green {
    left: 184px;
}
.a_content{
	padding: 20px;
}
.events {
    padding: 50px 0 0 0;
}
.e_title {
    margin-bottom: 40px;
}
.r_title {
    margin-top: 30px;
}
.arts_content, .kidz_content, .k_content, .m_content {
    top: 2px;
    left: 17px;
}
.news_image, .r_news {
    margin-bottom: 40px;
}
.contact {
    padding: 270px 0 30px 0;
}
.copyright p {
    margin-top: 12px;
}
.f_menu ul li a {
    padding: 7px !important;
    font-size: 17px;
}
}
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
 .menu ul li a, .d_custom{
    text-align: right;
    padding: 0 6px;
}
.searchbar {
	text-align: right;
    padding: 0 20px;
}
.banner_content {
    margin-top: 170px;
    margin-bottom: 180px;
}
.banner_content h1 {
    font-size: 40px;
}
.scroll{
    margin-bottom: -50px;
}
.custom_img1 {
    max-width: 112%;
}
.custom_img2 {
    left: 45px;
}
.image1 h4 {
    font-size: 20px;
}
.kids1 {
	margin-top: 30px;
    padding: 80px 0;
}
.about p {
    line-height: 1.4;
}
.about img {
    margin-top: 20px;
}
.about_img img {
    margin-top: 90px;
}
.courses {
    padding: 70px 0;
}
.c_card{
	margin: 20px 0;
}
.txt-2 {
    padding: 0;
}
.t_content {
    margin-top: 25px;
}
.green {
    left: 274px;
}
.a_content{
	margin-top: 15px;
}
.hour {
    font-size: 40px;
}
.a_content h5 {
    font-size: 18px;
}
.events {
    padding: 50px 0 0 0;
}
.e_title {
    margin-bottom: 40px;
}
.r_title {
    margin-top: 30px;
}
.arts_content, .kidz_content, .k_content, .m_content {
    top: 2px;
    left: 40px;
}
.event{
	text-align: center;
}
.giraffe, .instagram{
	margin-top: 50px;
}

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
.searchbar {
    height: 105px;
}    
.banner_content {
    margin-top: 200px;
    margin-bottom: 210px;
}
.courses {
    padding: 80px 0 50px 0;
}
.custom_img2 {
    left: 69px;
}
.image1 h4 {
    font-size: 23px;
}
.c_title1, .c_title2 {
    font-size: 23px;
}
.txt-4{
	padding: 14px 0;
}
.scroll{
    margin-bottom: -30px;
}
.kids1 {
    padding: 80px 0;
}
.title img{
	max-width: 80%;
 }
 .teachers{
    line-height: 1.1;
 }
.c_footer {
    font-size: 15px;
}
.t_content hr {
    margin-top: 0;
}
.t_content p {
    margin-bottom: 8px;
}
.green {
    top: -1px;
    left: 394px;
}
.news_image{
    margin-top: 30px;
}
.com_detail h4, .r_news h4 {
    font-size: 20px;
    font-weight: 700;
}
.events {
    padding: 60px 0 0 0;
}
.insta_title h3, .cont_title h3, .n_title h3{
 	font-size: 23px;
}
.f_menu ul li a{
	font-size: 17px;
    padding: 0!important;
}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
   

 }
